/* Reset Básico */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #0f0f0f;
  color: #eee;
  scroll-behavior: smooth;
}

ul, ol {
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.section {
  padding: 120px 0;
}

.container{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
                                                                    
.section-title{
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  margin:0 0 40px;
  font-family: 'Inter', sans-serif;
}

.section-title::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #4ade80;
  margin: 0.75rem auto 0;
  border-radius: 2px;
}

/* LOGO */
.logo {
  font-family: 'Inter', monospace;
  font-size: 28px;
  font-weight: bold;
  color: #eee;
}


/* HEADER */

.header{
  width: 100%;
  padding: 20px 40px;
  background: #111;
  color: #eee;
  
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);

}

.header .container{                                  
  max-width: 1500px;
  width:95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* MENU */
.menu a{
  margin-left: 28px;
  font-size: 16px;
  color: #ccc;
  position: relative;
  transform: color 0.3s ease;
}

.menu a.active {
  color: #22c55e;
}

.menu a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #22c55e ;
}

.menu a:hover{
  color: #eee;  
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;

  width: 32px;
  height: 24px;

  flex-direction: column;
  justify-content: space-between;
}

.menu-toggle span {
  display: block;
  width: 100%;
  height: 3px;
  background: #eee;
  border-radius: 2px;
  transition: 0.3s ease;
}
/* HERO SECTION */

.hero{
  width: 100%;
  min-height: 100vh;
  padding-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

.hero::before{
  content: "";
  position:absolute;
  inset: 0;
  background: url('../img/Coding.jpg') center/cover no-repeat;
  z-index: -2;
  will-change: transform;
  transform: translateY(var(--parallax));
  
}

.hero::after{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.hero .container {
  position: relative;
  z-index: 2;
  animation: fadeHero 1.2s ease-out forwards;
}

@keyframes fadeHero{
  from{
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero h1{
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 700;
}

.hero p{
  font-size: 20px;
  max-width: 700px;
  margin: 0 auto 30px auto;
  color: #ccc;
}

.hero .btn{
  padding: 14px 30px;
  background: #fff;
  color: #0f0f0f;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.hero .btn:hover{
  background: #ddd;
}

/* SOBRE MIM */

.sobre {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  background: #0f0f0f;
}

.sobre .container{
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}

.sobre img {
  width: 280px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);  
}

.sobre-texto{
  flex: 1;
  color: #ddd;
}

.sobre-texto h2 {
  
  font-family: 'Inter', sans-serif;
}

.sobre-texto p{
  font-size: 18px;
  line-height: 1.6;
  
  margin-bottom: 18px;
}

/* SKILLS */ 

.skills{
  padding: 140px 0;
  background: #111;
}

.skills h2{
  text-align: center;
  
}

.skills-text{
  max-width: 600px;
  margin: 0 auto 40px;
  text-align: center;
  font-size: 1rem;
  color: #bbb;
  line-height: 1.6;
}

.skill-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
}

.skill-item{
  padding: 20px;
  background: #1a1a1a;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, background 0.3s ease;
}

.skill-item:hover{
  transform: translateY(-4px);
  background: #222; 
}                              

.skill-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  filter: brightness(0.9);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.skill-item:hover .skill-icon{
  transform: scale(1.05);
  filter:brightness(1)
}

.badge{
  font-size: 11px;
  padding: 2px 6px;
  background: #1f1f1f;
  border: 1px solid #2a2a2a;
  border-radius: 4px;
  color: #8ab4f8;
  margin-left: 6px;
  letter-spacing: 0.5px;
}
                                                    
/* PROJETOS */
.projetos{
  padding: 4rem 2rem;
}

.projetos-text{
  max-width: 600px;
  margin: 0 auto 40px;
  text-align: center;
  font-size: 1rem;
  color: #bbb;
  line-height: 1.6;
}

#container-projetos {
  max-width: 1200px;
  margin:0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem 0;
  
}

.empty-msg {
  font-size: 1.2rem;
  color: #ccc;
  text-align: center;
  width: 100%;
}

.card-projeto {
  background: #111;
  border: 1px solid #222;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  transition: transform .2 ease, box-shadow .2 ease;
}

.card-projeto:hover{
  transform: translateY(-6px);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.6);
}

.card-thumb{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-thumb img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card-body{
  padding: 1.2rem;
}

.card-body h3{
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.card-body p{
  font-size: 0.95rem;
  color: #ccc;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.btn-projeto{
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background: #008cff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600; 
  transition: background 0.2s ease;
}

.btn-projeto:hover {
  background: #0073d6;
}
/* CONTATO */

.contato {
  position: relative;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: url('../img/background_contato.jpg') center /cover no-repeat;
}

.contato::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(2px) ;
  z-index: 1;
}

.contato .container{
  position: relative;
  z-index: 2;
  text-align: center;
}

.contato .section-title{
  margin-bottom: 20px;
}

.contato-text {
  max-width: 600px;
  margin: 0 auto 40px;                                                                    
  font-size: 1rem;
  color: #e5e5e5;
  line-height: 1.6;
}

.contato-links {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contato-links a {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 16px 24px;
  background: #111;
  border: 1px solid #1f1f1f;
  border-radius: 10px;

  font-size: 26px;
  color: #ccc;

  transition: color 0.3s esae, transform 0.3s ease;
}

.contato-links i {
  font-size: 1.4rem;
  color: #8ab4f8;
}

.contato-links a:hover {
  border-color: #00ff88;
  transform: translateY(-4px);
}


/* FOOTER */

.footer {
  background: #111;
  padding: 40px 20px 40px;
  border-top: 1px solid #1f1f1f;
}

.footer-container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  text-align: center;
}

.footer-text {
  font-size: 1rem;
  color: #ccc;
}

.footer-copy {
  font-size: 0.8rem;
  color: #777;
}

/* BOTÃO BACK TO TOP */

.back-to-top {
  position: fixed;
  bottom: 24px;
  right: max(24px, calc((100vw - 1500px) / 2 + 24px));

  width: 44px;
  height: 44px;

  background: #111;                         
  color: #4ade80;                               

  border: 1px solid #1f1f1f;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  font-size: 16px;

  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6);

  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;

  transition-duration: 
    opacity 0.3 ease;
    transform: 0.3s ease;
    background: 0.3 ease;
    color: 0.3 ease;
    border-color: 0.3 ease;

  z-index: 999;
  
}

.back-to-top.show{
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.back-to-top:hover {
  background: #1a1a1a;
  color: #6ee7a0;
  border-color: #4ade80;
  transform: translateY(-4px);
}

/* ------------------------------------------------------------------- */
.fade-in{
  opacity: 0;
  transform: translateY(30px);
  animation: fadeIn 1s ease-out forwards;
  transition: opacity 0.8s ease, transform 0.8s ease;

}

@keyframes fadeIn {
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
   
/* =====================================================
   RESPONSIVIDADE
===================================================== */

@media (max-width: 1024px) {}


@media (max-width: 768px) {
  .header{
    padding: 16px 20px;
  }

  .header .container {
    flex-direction: column;
    gap: 12px;
  }

  .menu a {
    margin-left: 0;
    margin: 0 12px;
    font-size: 15px;
  }

  .hero h1{
    font-size: 32px;
  }

  .hero p{
    font-size: 16px;
    padding: 0 10px;
  }

  .sobre {
    padding: 80px 0;
  }

  .sobre .container {
    flex-direction: column;
    text-align: center;
  }

  .sobre img {
    width: 220px;
    margin-bottom: 20px;
  }

  .sobre-texto p {
    font-size: 16px;
  }

   .skills {
    padding: 100px 0;
  }

  .skill-list {
    gap: 20px;
  }

  .skill-item {
    padding: 16px;
  }

   .projetos {
    padding: 80px 20px;
  }

  #container-projetos {
    gap: 1.5rem;
  }

   .footer {
    padding: 30px 20px;
  }

  .footer-text {
    font-size: 0.95rem;
  }

  .skill-item,
  .card-projeto,
  .contato-links a {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .skill-item:hover,
  .card-projeto:hover,
  .contato-links a:hover {
    transform: translateY(-2px);
  }
  
}

@media (max-width: 480px) {

  .container {
    width: 92%;
  }

  .header {
    padding: 16px 20px;
  }

  .logo {
    font-size: 22px;
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    background: #111;
    display: flex;
    flex-direction: column;
    align-items: center;

    max-height: 0;
    overflow: hidden;

    transition: max-height 0.3s ease;
  }

  .menu a {
    padding: 16px 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #1f1f1f;
  }

  .menu.active{
    max-height: 300px;
  }

  .menu-toggle{
    display: flex;
  }
  
  .menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-toggle.active span:nth-child(2) {
  opacity: 0;
  }

  .menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
  }

  .hero {
    padding-top: 100px;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 16px;
  }

  .hero .btn {
    padding: 12px 24px;
    font-size: 15px;
  }

  .section-title {
    font-size: 1.7rem;
    margin-bottom: 30px;
  }

  .sobre {
    padding: 70px 0;
  }

  .sobre img {
    width: 200px;
  }

  .sobre-texto p {
    font-size: 15px;
    line-height: 1.5;
  }

  .skills {
    padding: 90px 0;
  }

  .skills-text {
    font-size: 0.95rem;
  }

  .skill-item {
    padding: 14px;
    font-size: 16px;
  }

  .skill-item {
    transition: transform 0.15s ease, background 0.15s ease;
  }

  .skill-item:active {
    transform: scale(0.96);
    background: #222;
  }

  .skill-icon {
    width: 50px;
    height: 50px;
  }

  .projetos {
    padding: 70px 16px;
  }

  .projetos-text {
    font-size: 0.95rem;
  }

  .card-body h3 {
    font-size: 1.1rem;
  }

  .card-body p {
    font-size: 0.9rem;
  }

  .card-projeto {
    transition: transform 0.15s ease, box-shadow 0.15s ease;
  }

  .card-projeto:active {
    transform: scale(0.97);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.6);
  }

  .btn-projeto {
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
  }

  .contato {
    min-height: 65vh;
    padding: 50px 16px;
  }

  .contato-text {
    font-size: 0.95rem;
  }

   .contato-links {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: stretch;
  }

  .contato-links a {
    width: 100%;
    justify-content: center;
    padding: 14px;
    font-size: 0.95rem;
    border-radius: 10px;
    transition: transform 0.15s ease, background 0.15s ease;
  }

  .contato-links a:active {
    transform: scale(0.96);
    background: #222;
  }

  .footer {
    padding: 30px 16px;
  }

  .footer-text {
    font-size: 0.9rem;
  }

  .footer-copy {
    font-size: 0.75rem;
  }

  /* BACK TO TOP */
  .back-to-top {
    width: 40px;
    height: 40px;
    font-size: 14px;
    bottom: 20px;
    right: 20px;
  }

}

@media (hover: hover) and (pointer: fine) {
  .skill-item:hover,
  .card-projeto:hover,
  .contato-links a:hover {
    transform: translateY(-4px);
  }
}
